<section id="teammate">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title"> <span> همکاران ما </span></h3>
            </div>
            <div class="col-md-4">
                <div class="teammate-box">
                    <div class="text-center"><img src="static/img/boss.png" alt=""></div>
                    <div class="text-center"><h4>دکتر قربانی</h4></div>
                    <div class="text-center">  <h5> مدرس و بنیان گذار موسسه </h5> </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="teammate-box">
                    <div class="text-center"><img src="static/img/woman.png" alt=""></div>
                    <div class="text-center"><h4>دکتر قربانی</h4></div>
                    <div class="text-center">  <h5> مدرس و بنیان گذار موسسه </h5> </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="teammate-box">
                    <div class="text-center"><img src="static/img/woman.png" alt=""></div>
                    <div class="text-center"><h4>دکتر قربانی</h4></div>
                    <div class="text-center">  <h5> مدرس و بنیان گذار موسسه </h5> </div>
                </div>
            </div>
        </div>
    </div>

</section>
