<div class='container'>
        <div class=row>
            <div class='col-md-8 col-md-offset-2' style="background:white;padding:20px">
                <h2 class="alert alert-success"> ارسال نظر </h2>
                <form action="{% url 'contactus:contactus' %}" method='POST'>
                    {% csrf_token %}
                    <div class='form-group'>
                      <label for="subject"> موضوع:  </label>
                      <input  type='text'  name='subject' class='form-control {% if form.subject.errors %} is-invalid {% endif %}' id='subject'   />
                      <div class="invalid-feedback">
                        {{form.subject.errors}}
                      </div>
                    </div>
                    <div class='form-group'>
                      <label for="message"> پیام: </label>
                      <textarea  rows='10' cols='30'  name='message' class='form-control {% if form.message.errors %} is-invalid {% endif %}' id='message'  ></textarea>
                      <div class="invalid-feedback">
                        {{form.message.errors}}
                      </div>
                    </div>
                    <label for="sender"> ایمیل: </label>
                    <div class='form-group'>
                      <input  type='email'  name='sender' class='form-control {% if form.sender.errors %} is-invalid {% endif %}' id='sender'  />
                      <div class="invalid-feedback">
                        {{form.sender.errors}}
                      </div>
                    </div>
                    <!-- {{ form.as_p }} -->
                    <button type='submit' class='btn btn-success btn-lg pull-left'> ارسال </button>
                </form>

            </div>
        </div>
    </div>