{% extends 'articles/master.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
    <h2>{{ title }} : </h2>
 
    <ul>
        {% for article in articles %}
            <li><a href="{% url 'articles:article' article.id %}">{{ article.title }}</a></li>
        {% empty %}
            <li> <p>No Articles are available </p> <li>
        {% endfor %}
    </ul>

    {% if articles.has_other_pages %}
        <ul class="pagination">
            {% if articles.has_previous %}
                <li class="page-item">
                    <a href="/articles?page={{ articles.previous_page_number}}" class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>    
            {% else %}
                <li class="page-item disabled">
                    <a href="#" class="page-link" aria-label="Previous">
                        <span aria-hidden="true"> &laquo;</span>
                    </a>
                </li>
            {% endif %}

            {% for i in paginator.page_range %}
                {% if articles.number == i %}
                    <li class="page-item disabled">
                        <a href="#" class="page-link"> 
                            {{ i }}
                        </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="/articles?page={{ i }}" class="page-link"> 
                            {{ i }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if articles.has_next %}
                <li class="page-item">
                    <a href="/articles?page={{ articles.next_page_number }}" class="page-link">
                        <span aria-hidden="true"> &raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item">
                    <a href="#" class="page-link">
                        <span aria-hidden="true"> &raquo;</span>
                    </a>
                </li>
            {% endif %}
                
        </ul>
        
    {% endif %}

{% endblock %}