<section id="slideshow">
    <ul class="rslides">
        <li><img src="static/img/1.jpg" alt=""></li>
        <li><img src="static/img/2.jpg" alt=""></li>
        <li><img src="static/img/3.jpg" alt=""></li>
    </ul>
</section>
<section id="main_titr">
    <h2 class="text-center">
       <span class="text-center">
           برآن شدیم با طرحی نو و تفکری جدید به خدمت همشهریان عزیز ایفای نقش کنیم
       </span>
        <span class="text-center">
            تا آخر راه همراه شماییم
        </span>

    </h2>
</section>
